.Note {
  background-color:#d2d2d2;
  color: black;
  border-radius: 10px;
  padding: 1rem;
  min-height: 150px;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 5px #5b5b5b;
}

span {
  word-wrap: break-word;
  overflow-y: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

footer {
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

img {
  transition: linear all 0.1s;
}

#delete-icon {
  width: 20px;
  opacity: 0.3;
}

#delete-icon:hover {
  cursor: pointer;
  transform: scale(1.10);
}

#delete-icon:active {
  transform: scale(0.9);
}

#share-icon {
  width: 20px;
  opacity: 0.3;
}

#share-icon:hover {
  cursor: pointer;
  transform: scale(1.10);
}

#share-icon:active {
  transform: scale(0.9);
}